.banner {
    background-color:#FFD330;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    height: 100vh;
}
 

.banner img{
    width: 400px;
    display: flex;
}

.banner h2{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.banner-aboutus h2{
    font-size: 50px;
    text-align: center;
    color: #00226D;
}

.banner-aboutus p{
    padding-right: 100px;
    padding-left: 100px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    color: #00226D;
    font-size: 24px;
}
